body{
	padding-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5px;
	font-family: 'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;'
}
.borde{
	border: 1px solid black;
	padding: 15px;
}
#cabecera{
	text-align: center; 
}
#menu{
	text-align: center;
}
#menu a{
    display: inline-block;
    background-color: #adbecf;
    color: black;
    padding: 1px 20px 1px 20px;
    text-decoration: none;
    line-height: normal;
    width: 15%;
    border-radius: 5px;
}
#menu a:hover{
	color: white;
	background-color: gray;
}
#menu a:active{
	color: black;
}

#menu .menu_activo{
	background-color: #d39c87;
}
#quienes_somos {
	display: flex;
 }

#quienes_somos #titulo_quienes_somos{
	margin-bottom: 1px;
}
#quienes_somos #small_diseño_digital_3D{
	font-size: small;
}
#art_quienes_somos p{
	text-align: justify;
}
#art_quienes_somos hr{
	background-color: white;
	width: 30%;
	height: 3px;
	border-radius: 50%;
	transform: rotate(1deg);
}
#quienes_somos img{
    width: 100%;
}

#nuestro_equipo {
	color: white;
	background-color: #6fa8dc;
	text-align: center;

}



#nuestro_equipo hr{
	background-color: white;
	width: 30%;
	height: 3px;
	border-radius: 50%;
	transform: rotate(1deg);
}
#nuestro_equipo h1{
	margin-bottom: 0;
}