
body{
	padding-top: 20px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5px;
	font-family: 'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;'
}
.borde{
	border: 1px solid black;
	padding: 15px;
}

#cabecera{
	text-align: center; 
}

#menu{
	text-align: center;
}

#menu a{
    display: inline-block;
    background-color: #adbecf;
    color: black;
    padding: 1px 20px 1px 20px;
    text-decoration: none;
    line-height: normal;
    width: 15%;
    border-radius: 5px;
}

#menu a:hover{
	color: white;
	background-color: gray;
}
#menu a:active{
	color: black;
}

#menu .menu_activo{
	background-color: #d39c87;
}

#sec_quien_soy {
	display: flex;
}
#sec_quien_soy #titulo_soy_dg{
	margin-bottom: 1px;
}

#sec_quien_soy #small_soy_dg{
	font-size: small;
}

#sec_quien_soy #art_soy p{
	text-align: justify;
}

#sec_quien_soy #art_soy hr{
	border-radius: 50%;
	background-color: black;
	height: 1px;
	width: 30px;
	margin-left: 0;
	transform: rotate(1deg);
}
#sec_a_que_me_dedico {
	color: white;
	background-color: #6fa8dc;
	text-align: center;

}



#sec_a_que_me_dedico hr{
	background-color: white;
	width: 30%;
	height: 3px;
	border-radius: 50%;
	transform: rotate(1deg);
}
#sec_a_que_me_dedico h1{
	margin-bottom: 0;
}
#sec_como_puedo_ayudarte{
	text-align: center;
}
#sec_como_puedo_ayudarte #sec_servicios{
	display: flex; 
}

#sec_como_puedo_ayudarte #sec_servicios .art_tz{
	margin-left: 15px;

}

#sec_como_puedo_ayudarte #sec_servicios article{
	background-color: #FF9800;
	color:white;
	border:2px solid blue;
}

#sec_como_puedo_ayudarte #sec_servicios article p{
	text-align: justify;
}

#sec_herramientas {
	text-align: center;
	background-color: #6fa8dc;
}
#sec_herramientas table {
	width: 40%;
	color: black;
	background-color: white;
}

}
#pie_de_pagina{
	text-align: center;
}